In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session (engine)

# Exploratory Precipitation Analysis

In [9]:
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x202b0df7f60>,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'elevation': 3.0,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'longitude': -157.8168}

In [10]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x202b0e47f98>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'station': 'USC00519397',
 'id': 1,
 'prcp': 0.08}

In [12]:
# Find the most recent date in the data set.
results = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
results

('2017-08-23',)

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [18]:
one_year_ago = dt.date(2017,8,23)-dt.timedelta(days = 365)
one_year_ago

datetime.date(2016, 8, 23)

In [15]:

session.query(Measurement.date).\
    filter(Measurement.date >= '2016-08-23').\
    order_by(Measurement.date).all()

[('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-23',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-24',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-25',),
 ('2016-08-26',),
 ('2016-08-26',),
 ('2016-08-26',),
 ('2016-08-26',),
 ('2016-08-26',),
 ('2016-08-26',),
 ('2016-08-27',),
 ('2016-08-27',),
 ('2016-08-27',),
 ('2016-08-27',),
 ('2016-08-27',),
 ('2016-08-27',),
 ('2016-08-28',),
 ('2016-08-28',),
 ('2016-08-28',),
 ('2016-08-28',),
 ('2016-08-28',),
 ('2016-08-28',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-29',),
 ('2016-08-30',),
 ('2016-08-30',),
 ('2016-08-30',),
 ('2016-08-30',),
 ('2016-08-30',),
 ('2016-08-30',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-08-31',),
 ('2016-09-01',),
 ('2016-09-01',),
 ('2016-09-01',),
 ('2016-09-01',),
 ('2016-09-01',),
 ('2016-09-01',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-02',),
 ('2016-09-03',),
 ('2016-09-03',),
 ('2016-09-03',),
 ('2016-09-03',),
 ('2016-09-03',),
 ('2016-09-04',),
 ('2016-09-04',),
 ('2016-09-04',),
 ('2016-09-04',),
 ('2016-09-04',),
 ('2016-09-05',),
 ('2016-09-05',),
 ('2016-09-05',),
 ('2016-09-05',),
 ('2016-09-05',),
 ('2016-09-05',),
 ('2016-09-06',),
 ('2016-09-06',),
 ('2016-09-06',),
 ('2016-09-06',),
 ('2016-09-06',),
 ('2016-09-06',),
 ('2016-09-07',),
 ('2016-09-07',),
 ('2016-09-07',),
 ('2016-09-07',),
 ('2016-09-07',),
 ('2016-09-07',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-08',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-09',),
 ('2016-09-10',),
 ('2016-09-10',),
 ('2016-09-10',),
 ('2016-09-10',),
 ('2016-09-10',),
 ('2016-09-11',),
 ('2016-09-11',),
 ('2016-09-11',),
 ('2016-09-11',),
 ('2016-09-11',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-12',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-13',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-14',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-15',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-16',),
 ('2016-09-17',),
 ('2016-09-17',),
 ('2016-09-17',),
 ('2016-09-17',),
 ('2016-09-17',),
 ('2016-09-18',),
 ('2016-09-18',),
 ('2016-09-18',),
 ('2016-09-18',),
 ('2016-09-18',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-19',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-20',),
 ('2016-09-21',),
 ('2016-09-21',),
 ('2016-09-21',),
 ('2016-09-21',),
 ('2016-09-21',),
 ('2016-09-21',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-22',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-23',),
 ('2016-09-24',),
 ('2016-09-24',),
 ('2016-09-24',),
 ('2016-09-24',),
 ('2016-09-24',),
 ('2016-09-24',),
 ('2016-09-25',),
 ('2016-09-25',),
 ('2016-09-25',),
 ('2016-09-25',),
 ('2016-09-25',),
 ('2016-09-25',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-26',),
 ('2016-09-27',),
 ('2016-09-27',),
 ('2016-09-27',),
 ('2016-09-27',),
 ('2016-09-27',),
 ('2016-09-27',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-28',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-29',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-09-30',),
 ('2016-10-01',),
 ('2016-10-01',),
 ('2016-10-01',),
 ('2016-10-01',),
 ('2016-10-01',),
 ('2016-10-01',),
 ('2016-10-02',),
 ('2016-10-02',),
 ('2016-10-02',),
 ('2016-10-02',),
 ('2016-10-02',),
 ('2016-10-02',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-03',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-04',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-05',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-06',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-07',),
 ('2016-10-08',),
 ('2016-10-08',),
 ('2016-10-08',),
 ('2016-10-08',),
 ('2016-10-08',),
 ('2016-10-09',),
 ('2016-10-09',),
 ('2016-10-09',),
 ('2016-10-09',),
 ('2016-10-09',),
 ('2016-10-10',),
 ('2016-10-10',),
 ('2016-10-10',),
 ('2016-10-10',),
 ('2016-10-10',),
 ('2016-10-10',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-11',),
 ('2016-10-12',),
 ('2016-10-12',),
 ('2016-10-12',),
 ('2016-10-12',),
 ('2016-10-12',),
 ('2016-10-12',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-13',),
 ('2016-10-14',),
 ('2016-10-14',),
 ('2016-10-14',),
 ('2016-10-14',),
 ('2016-10-14',),
 ('2016-10-14',),
 ('2016-10-15',),
 ('2016-10-15',),
 ('2016-10-15',),
 ('2016-10-15',),
 ('2016-10-15',),
 ('2016-10-15',),
 ('2016-10-16',),
 ('2016-10-16',),
 ('2016-10-16',),
 ('2016-10-16',),
 ('2016-10-16',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-17',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-18',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-19',),
 ('2016-10-20',),
 ('2016-10-20',),
 ('2016-10-20',),
 ('2016-10-20',),
 ('2016-10-20',),
 ('2016-10-20',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-21',),
 ('2016-10-22',),
 ('2016-10-22',),
 ('2016-10-22',),
 ('2016-10-22',),
 ('2016-10-22',),
 ('2016-10-23',),
 ('2016-10-23',),
 ('2016-10-23',),
 ('2016-10-23',),
 ('2016-10-23',),
 ('2016-10-23',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-24',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-25',),
 ('2016-10-26',),
 ('2016-10-26',),
 ('2016-10-26',),
 ('2016-10-26',),
 ('2016-10-26',),
 ('2016-10-26',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-27',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-28',),
 ('2016-10-29',),
 ('2016-10-29',),
 ('2016-10-29',),
 ('2016-10-29',),
 ('2016-10-29',),
 ('2016-10-29',),
 ('2016-10-30',),
 ('2016-10-30',),
 ('2016-10-30',),
 ('2016-10-30',),
 ('2016-10-30',),
 ('2016-10-30',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-10-31',),
 ('2016-11-01',),
 ('2016-11-01',),
 ('2016-11-01',),
 ('2016-11-01',),
 ('2016-11-01',),
 ('2016-11-01',),
 ('2016-11-02',),
 ('2016-11-02',),
 ('2016-11-02',),
 ('2016-11-02',),
 ('2016-11-02',),
 ('2016-11-02',),
 ('2016-11-03',),
 ('2016-11-03',),
 ('2016-11-03',),
 ('2016-11-03',),
 ('2016-11-03',),
 ('2016-11-03',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-04',),
 ('2016-11-05',),
 ('2016-11-05',),
 ('2016-11-05',),
 ('2016-11-05',),
 ('2016-11-05',),
 ('2016-11-05',),
 ('2016-11-06',),
 ('2016-11-06',),
 ('2016-11-06',),
 ('2016-11-06',),
 ('2016-11-06',),
 ('2016-11-06',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-07',),
 ('2016-11-08',),
 ('2016-11-08',),
 ('2016-11-08',),
 ('2016-11-08',),
 ('2016-11-08',),
 ('2016-11-08',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-09',),
 ('2016-11-10',),
 ('2016-11-10',),
 ('2016-11-10',),
 ('2016-11-10',),
 ('2016-11-10',),
 ('2016-11-10',),
 ('2016-11-11',),
 ('2016-11-11',),
 ('2016-11-11',),
 ('2016-11-11',),
 ('2016-11-11',),
 ('2016-11-11',),
 ('2016-11-12',),
 ('2016-11-12',),
 ('2016-11-12',),
 ('2016-11-12',),
 ('2016-11-12',),
 ('2016-11-12',),
 ('2016-11-13',),
 ('2016-11-13',),
 ('2016-11-13',),
 ('2016-11-13',),
 ('2016-11-13',),
 ('2016-11-13',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-14',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-15',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-16',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-17',),
 ('2016-11-18',),
 ('2016-11-18',),
 ('2016-11-18',),
 ('2016-11-18',),
 ('2016-11-18',),
 ('2016-11-19',),
 ('2016-11-19',),
 ('2016-11-19',),
 ('2016-11-19',),
 ('2016-11-20',),
 ('2016-11-20',),
 ('2016-11-20',),
 ('2016-11-20',),
 ('2016-11-20',),
 ('2016-11-21',),
 ('2016-11-21',),
 ('2016-11-21',),
 ('2016-11-21',),
 ('2016-11-21',),
 ('2016-11-21',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-22',),
 ('2016-11-23',),
 ('2016-11-23',),
 ('2016-11-23',),
 ('2016-11-23',),
 ('2016-11-23',),
 ('2016-11-23',),
 ('2016-11-24',),
 ('2016-11-24',),
 ('2016-11-24',),
 ('2016-11-24',),
 ('2016-11-24',),
 ('2016-11-25',),
 ('2016-11-25',),
 ('2016-11-25',),
 ('2016-11-25',),
 ('2016-11-25',),
 ('2016-11-25',),
 ('2016-11-26',),
 ('2016-11-26',),
 ('2016-11-26',),
 ('2016-11-26',),
 ('2016-11-26',),
 ('2016-11-26',),
 ('2016-11-27',),
 ('2016-11-27',),
 ('2016-11-27',),
 ('2016-11-27',),
 ('2016-11-27',),
 ('2016-11-27',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-28',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-29',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-11-30',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-01',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-02',),
 ('2016-12-03',),
 ('2016-12-03',),
 ('2016-12-03',),
 ('2016-12-03',),
 ('2016-12-03',),
 ('2016-12-03',),
 ('2016-12-04',),
 ('2016-12-04',),
 ('2016-12-04',),
 ('2016-12-04',),
 ('2016-12-04',),
 ('2016-12-04',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-05',),
 ('2016-12-06',),
 ('2016-12-06',),
 ('2016-12-06',),
 ('2016-12-06',),
 ('2016-12-06',),
 ('2016-12-06',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-07',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-08',),
 ('2016-12-09',),
 ('2016-12-09',),
 ('2016-12-09',),
 ('2016-12-09',),
 ('2016-12-09',),
 ('2016-12-09',),
 ('2016-12-10',),
 ('2016-12-10',),
 ('2016-12-10',),
 ('2016-12-10',),
 ('2016-12-10',),
 ('2016-12-10',),
 ('2016-12-11',),
 ('2016-12-11',),
 ('2016-12-11',),
 ('2016-12-11',),
 ('2016-12-11',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-12',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-13',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-14',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-15',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-16',),
 ('2016-12-17',),
 ('2016-12-17',),
 ('2016-12-17',),
 ('2016-12-17',),
 ('2016-12-17',),
 ('2016-12-18',),
 ('2016-12-18',),
 ('2016-12-18',),
 ('2016-12-18',),
 ('2016-12-18',),
 ('2016-12-18',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-19',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-20',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-21',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-22',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-23',),
 ('2016-12-24',),
 ('2016-12-24',),
 ('2016-12-24',),
 ('2016-12-24',),
 ('2016-12-24',),
 ('2016-12-24',),
 ('2016-12-25',),
 ('2016-12-25',),
 ('2016-12-25',),
 ('2016-12-25',),
 ('2016-12-25',),
 ('2016-12-26',),
 ('2016-12-26',),
 ('2016-12-26',),
 ('2016-12-26',),
 ('2016-12-26',),
 ('2016-12-26',),
 ('2016-12-27',),
 ('2016-12-27',),
 ('2016-12-27',),
 ('2016-12-27',),
 ('2016-12-27',),
 ('2016-12-27',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-28',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-29',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-30',),
 ('2016-12-31',),
 ('2016-12-31',),
 ('2016-12-31',),
 ('2016-12-31',),
 ('2016-12-31',),
 ('2017-01-01',),
 ('2017-01-01',),
 ('2017-01-01',),
 ('2017-01-01',),
 ('2017-01-01',),
 ('2017-01-01',),
 ('2017-01-02',),
 ('2017-01-02',),
 ('2017-01-02',),
 ('2017-01-02',),
 ('2017-01-02',),
 ('2017-01-03',),
 ('2017-01-03',),
 ('2017-01-03',),
 ('2017-01-03',),
 ('2017-01-03',),
 ('2017-01-03',),
 ('2017-01-04',),
 ('2017-01-04',),
 ('2017-01-04',),
 ('2017-01-04',),
 ('2017-01-04',),
 ('2017-01-04',),
 ('2017-01-05',),
 ('2017-01-05',),
 ('2017-01-05',),
 ('2017-01-05',),
 ('2017-01-05',),
 ('2017-01-05',),
 ('2017-01-06',),
 ('2017-01-06',),
 ('2017-01-06',),
 ('2017-01-06',),
 ('2017-01-06',),
 ('2017-01-06',),
 ('2017-01-07',),
 ('2017-01-07',),
 ('2017-01-07',),
 ('2017-01-07',),
 ('2017-01-07',),
 ('2017-01-07',),
 ('2017-01-08',),
 ('2017-01-08',),
 ('2017-01-08',),
 ('2017-01-08',),
 ('2017-01-08',),
 ('2017-01-08',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-09',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-10',),
 ('2017-01-11',),
 ('2017-01-11',),
 ('2017-01-11',),
 ('2017-01-11',),
 ('2017-01-11',),
 ('2017-01-11',),
 ('2017-01-12',),
 ('2017-01-12',),
 ('2017-01-12',),
 ('2017-01-12',),
 ('2017-01-12',),
 ('2017-01-12',),
 ('2017-01-13',),
 ('2017-01-13',),
 ('2017-01-13',),
 ('2017-01-13',),
 ('2017-01-13',),
 ('2017-01-13',),
 ('2017-01-14',),
 ('2017-01-14',),
 ('2017-01-14',),
 ('2017-01-14',),
 ('2017-01-14',),
 ('2017-01-15',),
 ('2017-01-15',),
 ('2017-01-15',),
 ('2017-01-15',),
 ('2017-01-15',),
 ('2017-01-16',),
 ('2017-01-16',),
 ('2017-01-16',),
 ('2017-01-16',),
 ('2017-01-16',),
 ('2017-01-16',),
 ('2017-01-17',),
 ('2017-01-17',),
 ('2017-01-17',),
 ('2017-01-17',),
 ('2017-01-17',),
 ('2017-01-17',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-18',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-19',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-20',),
 ('2017-01-21',),
 ('2017-01-21',),
 ('2017-01-21',),
 ('2017-01-21',),
 ('2017-01-21',),
 ('2017-01-21',),
 ('2017-01-22',),
 ('2017-01-22',),
 ('2017-01-22',),
 ('2017-01-22',),
 ('2017-01-22',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-23',),
 ('2017-01-24',),
 ('2017-01-24',),
 ('2017-01-24',),
 ('2017-01-24',),
 ('2017-01-24',),
 ('2017-01-24',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-25',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-26',),
 ('2017-01-27',),
 ('2017-01-27',),
 ('2017-01-27',),
 ('2017-01-27',),
 ('2017-01-27',),
 ('2017-01-27',),
 ('2017-01-27',),
 ...]

In [48]:
stmt = session.query(Measurement).filter(Measurement.date >= '2016-08-23').statement
#     print(row)
prcp_one_year_df = pd.read_sql_query(stmt, session.bind)

prcp_one_year_df.set_index("date", inplace=True)

prcp_one_year_df.sort_values(["date"])
prcp_one_year_df.head(20)

              id      station  prcp  tobs
date
2016-08-23  2364  USC00519397  0.00  81.0
2016-08-24  2365  USC00519397  0.08  79.0
2016-08-25  2366  USC00519397  0.08  80.0
2016-08-26  2367  USC00519397  0.00  79.0
2016-08-27  2368  USC00519397  0.00  77.0
2016-08-28  2369  USC00519397  0.01  78.0
2016-08-29  2370  USC00519397  0.00  78.0
2016-08-30  2371  USC00519397  0.00  79.0
2016-08-31  2372  USC00519397  0.13  80.0
2016-09-01  2373  USC00519397  0.00  81.0
2016-09-02  2374  USC00519397  0.00  80.0
2016-09-03  2375  USC00519397  0.00  79.0
2016-09-04  2376  USC00519397  0.03  75.0
2016-09-05  2377  USC00519397   NaN  79.0
2016-09-06  2378  USC00519397   NaN  76.0
2016-09-07  2379  USC00519397  0.05  76.0
2016-09-08  2380  USC00519397  0.00  80.0
2016-09-09  2381  USC00519397  0.03  79.0
2016-09-10  2382  USC00519397  0.00  78.0
2016-09-11  2383  USC00519397  0.05  76.0

In [45]:
# Use Pandas to calcualte the summary statistics for the precipitation data

prcp_one_year_df.describe()

                 id         prcp         tobs
count   2230.000000  2021.000000  2230.000000
mean   10158.570404     0.177279    74.590583
std     5603.500203     0.461190     4.611667
min     2364.000000     0.000000    58.000000
25%     5287.250000     0.000000    72.000000
50%     8930.500000     0.020000    75.000000
75%    14750.750000     0.130000    78.000000
max    19550.000000     6.700000    87.000000

                 id         prcp         tobs
count   2230.000000  2021.000000  2230.000000
mean   10158.570404     0.177279    74.590583
std     5603.500203     0.461190     4.611667
min     2364.000000     0.000000    58.000000
25%     5287.250000     0.000000    72.000000
50%     8930.500000     0.020000    75.000000
75%    14750.750000     0.130000    78.000000
max    19550.000000     6.700000    87.000000

# Exploratory Station Analysis

In [41]:
# Design a query to calculate the total number stations in the dataset

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()